@font-face {
    font-family: "Semibold";
    src: url(../Fonts/OpenSans-Semibold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Regular";
    src: url(../Fonts/OpenSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

.Cuerpo{
    background:linear-gradient(#fff, #e6e6e6, #808080);
    top: 0px;
    left: 0px;
    width: 1600px;
    height: 1200px;
    position: absolute;
}

#Cuadroblanco{
    top: 200px;
    left: 100px;
    width: 1400px;
    height: 800px;
    border: 1px solid #707070;
    opacity: 1;
    position: absolute;
}
#Tarjeta{
    top: 303px;
    left: 459px;
    width: 576px;
    height: 324px;
    opacity: 1;
    position: absolute;
}
#Logo1{
    top: 243px;
    left: 143px;
    width: 196px;
    height: 44px;
    opacity: 1;
    position: absolute;   
}
.Logo2{
    top: 876px;
    left: 1595px;
    width: 129px;
    height: 27px;
    opacity: 1;
    display: flex;
    margin: 23px 80px 70px 15px;

}

.Cuadrometrolinea{
    top: 847px;
    left: 1180px;
    width: 160px;
    height: 114px;
    background-color: #D5FF43 ;
    color: #D5FF43; 
    border-radius: 8px;
    opacity: 1;
    position: absolute;
}
.Comprar{
    top: 890px;
    left: 1205px;
    width: 111px;
    height: 36px;
    background: transparent;
    font-family: "Semibold";
    color: black;
    font-size: 26px;
    margin: -55px 80px 70px 28px;
}
.COP{
    top: 677px;
    left: 583px;
    width: 329px;
    height: 37px;
    text-align: left;
    letter-spacing: 0px;
    font-family: "Semibold";
    font-size: 24px;
    color: #000000;
    opacity: 1;
    position: absolute;
}
.Tarjetatexto{
    top: 600px;
    left: 401px;
    width: 700px;
    height: 55px;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    font-family: "Semibold";
    font-size: 40px;
    opacity: 1;
    position: absolute;
}
.ComprarTarjeta{
    text-decoration: none;
    top: 240px;
    left: 800px;
    width: 230px;
    height: 41px;
    opacity: 1;
    font-family: "Regular";
    font-size: 30px;
    position: absolute;
    color: black;
}
.Saldo{
    top: 210px;
    left: 1072px;
    width: 132px;
    height: 41px;
    opacity: 1;
    font-family: "Regular";
    font-size: 30px;
    position: absolute;
    color: black;
}
#Search{
    top: 252px;
    left: 1224px;
    width: 27px;
    height: 27px;
    opacity: 1;
    position: absolute;
}
#Linea{
    top: 278px;
    left: 1063px;
    width: 146px;
    height: 0px;
    border: 2px solid #212020;
    opacity: 1;
    position: absolute;
}
#Shopping{
    top: 252px;
    left: 1324px;
    width: 33px;
    height: 32px;
    position: absolute;
}
.Blackrectangle{
    top: 200px;
    left: 1390px;
    width: 110px;
    height: 800px;
    background: var(--unnamed-color-212020) 0% 0% no-repeat padding-box;
    background: #212020 0% 0% no-repeat padding-box;
    border-radius: 0px 8px 8px 0px;
    opacity: 1;
    position: absolute;
}
#uparrow{
    top: 240px;
    left: 1443px;
    width: 24px;
    height: 14px;
    opacity: 1;
    position: absolute;
    
}
#downarrow{
    top: 946px;
    left: 1443px;
    width: 24px;
    height: 14px;
    opacity: 1;
    position: absolute;
}
.Cant{
    top: 355px;
    left: 1425px;
    width: 48px;
    height: 27px;
    text-align: left;
    font-family: "Regular";
    font-size: 20px;
    position: absolute;
    color: #fff;
}

.saldoescogido{
    top: 744px;
    left: 639px;
    width: 200px;
    height: 37px;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-family: "Semibold";
    font-size: 27px;
    position: absolute;
    
}

.bloquesaldo{
    top: 830px;
left: 595px;
width: 288px;
height: 58px;
border: 1px solid #707070;
border-radius: 10px;
opacity: 1;
position: relative;

}
.dinero{
    top: 820px;
    left: 710px;
    font-size: 27px;
    color: #000000;
    font-family: "Semibold";
    opacity: 0.5;
    position: absolute;
}
.text1{
    top: 507px;
    left: 1417px;
    width: 57px;
    height: 27px;
    text-align: left;
    color: #fff;
    opacity: 1;
    font-family: "Regular";
    font-size: 20px;
    position: absolute;
}
.text2{
    top: 587px;
    left: 1417px;
    width: 57px;
    height: 27px;
    text-align: left;
    color: #fff;
    opacity: 1;
    font-family: "Regular";
    font-size: 20px;
    position: absolute;
}
.text3{
    top: 667px;
    left: 1417px;
    width: 57px;
    height: 27px;
    text-align: left;
    color: #fff;
    opacity: 1;
    font-family: "Regular";
    font-size: 20px;
    position: absolute;

}
