
@font-face {
    font-family: "Fair";
    src: url(../Fonts/PlayfairDisplay-Black.ttf);
}
@font-face {
    font-family: "Barlow";
    src: url(../Fonts/Barlow-Bold.ttf);
}
@font-face {
    font-family: "Semibold";
    src: url(../Fonts/open-sauce.one-semibold.ttf);
}
body{
   background-color: rgb(18, 15, 15);
    position: absolute;
}

a {
    color: white;
    text-decoration: none;
}

#fondo{
width: 1920;
height: 1080;
position: absolute;


}
.Day{
    top: 600px;
    left: 1900px;
    width: 3000px;
    color: white;
    font-family: "Fair";
    font-size: 250px;
    position: absolute;
    transform: scaleX(0,5);
    letter-spacing: 15px;

}
.Logo{
    top: -150px;
    left: 1000px;
    width: 3000px;
    color: white;
    font-family: "Fair";
    font-size: 130px;
    position: absolute;
    font-family: "Barlow";

}

.Home{
    top: -100px;
    left: 3670px;
    width: 3000px;
    color: white;
    font-family: "Fair";
    font-size: 80px;
    position: absolute;
    font-family: "Barlow";

}
.Home:hover{
    cursor: pointer;
    text-decoration: underline #f8c471;
}


.About1{
    top: -100px;
    left: 4080px;
    width: 3000px;
    color: white;
    font-family: "Fair";
    font-size: 80px;
    position: absolute;
    font-family: "Barlow";
    color: white;

}
.About1:hover{
    cursor: pointer;
    text-decoration: underline #f8c471;
}
.Menu{
    top: -100px;
    left: 4500px;
    width: 3000px;
    color: white;
    font-family: "Fair";
    font-size: 80px;
    position: absolute;
    font-family: "Barlow";

}
.Menu:hover{
    cursor: pointer;
    text-decoration: underline #f8c471;
}
.Contact{
    top: -100px;
    left: 4850px;
    width: 3000px;
    color: white;
    font-family: "Fair";
    font-size: 80px;
    position: absolute;
    font-family: "Barlow";

}
.Contact:hover{
    cursor: pointer;
    text-decoration: underline #f8c471;
}
.Coffe{
    top: 3200px;
    left: 1900px;
    width: 3000px;
    color: white;
    font-family: "Fair";
    font-size: 250px;
    position: absolute;
    transform: scaleX(0,1);
    letter-spacing: 15px;
}
.Square{
    top: 3600px;
    left: 2850px;
    width: 450px;
    height: 125px;
    color: rgb(0, 0, 0);
    position: absolute;
    size: 3000px;
    font-family: "Fair";
    font-size: 30px;
    transform: scaleX(0,1);
    border-radius: 5px;
    border-color: white;
    background-color: #f8c471;
}
.Shop{
    top: -20px;
    left: 110px;
    width: 450px;
    height: 125px;
    font-family: "Fair";
    font-size: 50px;
    transform: scaleX(0,1);
    border-radius: 5px;
    position: absolute;
    color: rgb(0, 0, 0);
}
.Border{
    top: 5000px;
    left: 2800px;
    color: white;
    font-size: 70px;
   position: absolute;
}
#Coffeimg1{
    top: 5300px;
    left: 900px;
transform: scale(3.5);
   position: absolute;
}

.Our{
    top: 4800px;
    left: 3220px;
    width: 10000px;
    color: white;
    font-family: "Fair";
    font-size: 200px;
    position: absolute;
}
.Lorem1{
    top: 5300px;
    left: 3220px;
    width: 2700px;
    color: white;
    font-family: "Semibold";
    font-size: 80px;
    position: absolute;
    word-break: break-all;
}
.Square2{
    top: 5780px;
    left: 3220px;
    width: 450px;
    height: 125px;
    color: rgb(0, 0, 0);
    position: absolute;
    size: 3000px;
    font-family: "Fair";
    font-size: 30px;
    transform: scaleX(0,1);
    border-radius: 5px;
    border-color: white;
    background-color: #f8c471;
}
.Learn{
    top: -20px;
    left: 90px;
    width: 450px;
    height: 125px;
    font-family: "Fair";
    font-size: 50px;
    transform: scaleX(0,1);
    border-radius: 5px;
    position: absolute;
    color: rgb(0, 0, 0);
}
#Coffeimg2{
    top: 6500px;
    left: 2690px;
    transform: scale(0.6);
    position: absolute;
}
.Enjoy {
top: 7100px;
left: 700px;
width: 1200px;
color: white;
font-family: "Fair";
font-style: oblique;
font-size: 110px;
position: absolute;
letter-spacing: 10px;
}
.Lorem2{
    top: 7600px;
    left: 155px;
    width: 2700px;
    color: white;
    font-family: "Semibold";
    font-size: 80px;
    position: absolute;
    word-break: break-all;
    transform: scale(0.6);
}
.Square3{
    top: 7880px;
    left: 680px;
    width: 450px;
    height: 125px;
    color: rgb(0, 0, 0);
    position: absolute;
    size: 3000px;
    font-family: "Fair";
    font-size: 40px;
    transform: scaleX(0,1);
    border-radius: 5px;
    border-color: white;
    background-color: #f8c471;
}
.Learn2{
    top: -20px;
    left: 80px;
    width: 450px;
    height: 125px;
    font-family: "Fair";
    font-size: 50px;
    transform: scaleX(0,1);
    border-radius: 5px;
    position: absolute;
    color: rgb(0, 0, 0);
}
.Products{
    top: 8500px;
    left: 450px;
    position: absolute;
    color: white;
    font-family: "Fair";
    font-size: 130px;
    font-style: normal;
}
#Mochaft1{
    top: 8450px;
    left: 150px;
    position: absolute;
    transform: scale(0.2);
}
#Mochaft2{
    top: 8250px;
    left: 2100px;
    position: absolute;
    transform: scale(0.23);
    z-index: +1;
}
.Table1{
    top: 9200px;
    left: 520px;
    color: white;
    border: 1px solid #f8c471;  
    font-size: 40px;
    position: absolute;
    border-radius: 7px;
    width: 750px;
    text-align: center;
    height: 1000px;
}
.txtcuadro{
    top: 200px;
    left: 320px;
    color: white;
    font-size: 50px;
    position: absolute;
    font-weight: 900;
}
.Ex{
    top: 400px;
    left: 250px;
    color: white;
    font-size: 40px;
    position: absolute;
    font-weight: 550;
}

.Cho{
    top: 500px;
    left: 250px;
    color: white;
    font-size: 40px;
    position: absolute;
    font-weight: 550;
}
.Steamed{
    top: 600px;
    left: 250px;
    color: white;
    font-size: 40px;
    position: absolute;
    font-weight: 550;
}

.Square4{
    top: 10000px;
    left: 960px;
    width: 450px;
    height: 80px;
    color: rgb(0, 0, 0);
    position: absolute;
    size: 3000px;
    font-family: "Fair";
    font-size: 30px;
    transform: scaleX(0.2);
    border-radius: 5px;
    border-color: white;
    background-color: #f8c471;
}
.Table2{
    top: 9200px;
    left: 2400px;
    color: white;
    border: 1px solid #f8c471;  
    font-size: 40px;
    position: absolute;
    border-radius: 7px;
    width: 750px;
    text-align: center;
    height: 1000px;
}
.txtcuadro2{
    top: 200px;
    left: 320px;
    color: white;
    font-size: 50px;
    position: absolute;
    font-weight: 900;
}
.Ex2{
    top: 400px;
    left: 250px;
    color: white;
    font-size: 40px;
    position: absolute;
    font-weight: 550;
}

.Cho2{
    top: 500px;
    left: 250px;
    color: white;
    font-size: 40px;
    position: absolute;
    font-weight: 550;
}
.Steamed2{
    top: 600px;
    left: 250px;
    color: white;
    font-size: 40px;
    position: absolute;
    font-weight: 550;
}
.learn3{
    top: 800px;
    left: 220px;
    bottom: 3000px;
    width: 300px;
    height: 80px;
    font-size: 40px;
    position: absolute;
    color: black;
    font-family: "Semibold";
    background-color: #f8c471;
    font-size: 30px;

}
.learn4{
    top: 800px;
    left: 220px;
    bottom: 3000px;
    width: 300px;
    height: 80px;
    font-size: 40px;
    position: absolute;
    color: black;
    font-family: "Semibold";
    background-color: #f8c471;
    font-size: 30px;

}
.learn5{
    top: 800px;
    left: 220px;
    bottom: 3000px;
    width: 300px;
    height: 80px;
    font-size: 40px;
    position: absolute;
    color: black;
    font-family: "Semibold";
    background-color: #f8c471;
    font-size: 30px;
}
.Border2{
    top: 10400px;
    left: 2000px;
    color: #f8c471;
    font-size: 390px;
   position: absolute;
   
}

#Mochaft2{
    top: 8500px;
    left: 2100px;
    position: absolute;
    transform: scale(0.23);
}
#Mochaft3{
    top: 8820px;
    left: 4125px;
    position: absolute;
    transform: scale(0.43);
}
.Aboutus{
    top: 11670px;
    left: 1080px;
    position: absolute;
    font-family: "Semibold";
    font-size: 150px;
    color: white;
}
.Us{
    top: 11820px;
    left: 1650px;
    position: absolute;
    font-family: "Semibold";
    font-size: 150px;
    color: #f8c471;
}
.Contacttxt{
    top: 11665px;
    left: 2500px;
    position: absolute;
    font-family: "Semibold";
    font-size: 150px;
    color: white;
}
.Us2{
    top: 11665px;
    left: 3180px;
    position: absolute;
    font-family: "Semibold";
    font-size: 150px;
    color: #f8c471;
}
.Table3{
    top: 9200px;
    left: 4100px;
    color: white;
    border: 1px solid #f8c471;  
    font-size: 40px;
    position: absolute;
    border-radius: 7px;
    width: 750px;
    text-align: center;
    height: 1000px;
}
.txtcuadro3{
    top: 200px;
    left: 320px;
    color: white;
    font-size: 50px;
    position: absolute;
    font-weight: 900;
}
.Ex3{
    top: 400px;
    left: 250px;
    color: white;
    font-size: 40px;
    position: absolute;
    font-weight: 550;
}

.Cho3{
    top: 500px;
    left: 250px;
    color: white;
    font-size: 40px;
    position: absolute;
    font-weight: 550;
}
.Steamed3{
    top: 600px;
    left: 250px;
    color: white;
    font-size: 40px;
    position: absolute;
    font-weight: 550;
}
.Aboutus{
    top: 11670px;
    left: 1080px;
    position: absolute;
    font-family: "Semibold";
    font-size: 150px;
    color: white;
}
.Us{
    top: 11820px;
    left: 1650px;
    position: absolute;
    font-family: "Semibold";
    font-size: 150px;
    color: #f8c471;
}
.Contacttxt{
    top: 11665px;
    left: 2500px;
    position: absolute;
    font-family: "Semibold";
    font-size: 150px;
    color: white;
}
.Us2{
    top: 11665px;
    left: 3180px;
    position: absolute;
    font-family: "Semibold";
    font-size: 150px;
    color: #f8c471;
}
.Opening{
    top: 11665px;
    left: 3790px;
    position: absolute;
    font-family: "Semibold";
    font-size: 150px;
    color: white;
}
.Hourse{
    top: 11665px;
    left: 4490px;
    position: absolute;
    font-family: "Semibold";
    font-size: 150px;
    color: #f8c471;

}
.Lorem3{
    top: 12165px;
    left: 700px;
    width: 2700px;
    color: white;
    font-family: "Semibold";
    font-size: 80px;
    position: absolute;
    transform: scale(0.8);
    width: 1500px;
    text-align: center;
}
.Lorem4{
    top: 12165px;
    left: 2200px;
    width: 2700px;
    color: white;
    font-family: "Semibold";
    font-size: 80px;
    position: absolute;
    transform: scale(0.8);
    width: 1500px;
    text-align: center;
}
.Lorem5{
    top: 12165px;
    left: 3700px;
    width: 2700px;
    color: white;
    font-family: "Semibold";
    font-size: 80px;
    position: absolute;
    transform: scale(0.8);
    width: 1500px;
    text-align: center;
}
.Border3{
    top: 12200px;
    left: 2100px;
    color: #f8c471;
    font-size: 390px;
   position: absolute;
   
}
.Copy{
    top: 13000px;
    left: 2600px;
    color: white;
    font-size: 50px;
   position: absolute;
   width: 4000px;
   font-family: "Semibold";
   font-weight: 100;
}
.CL{
    top: 13000px;
    left: 3470px;
    color: #f8c471;
    font-size: 50px;
   position: absolute;
   font-family: "Barlow";
   font-weight: 100;
   
}